<ng-form name="personadetail" layout="column" layout-margin ng-if="!done">
        <md-input-container flex="20" layout="row" >
           <input flex="40" type="text" ng-model="data.personalDetail[0].value" required placeholder="Name"></input>
        </md-input-container>

        <md-input-container flex="20" layout="row" >
          <input ng-model="data.personalDetail[1].value" flex="10" type="text" required placeholder="Age"></input>
        </md-input-container>

         <md-radio-group flex="20" ng-model="data.personalDetail[2].value" layout="row" aria-label="Sex" layout-margin layout-align="start center">
           <md-radio-button value="male" flex="10" class="md-primary" aria-label="male" >  Male      </md-radio-button>
           <md-radio-button flex="10" value="female" class="md-accent"> Female </md-radio-button>
         </md-radio-group>

          <div flex="20" layout="row"  layout-align="space between center">
            <md-datepicker flex="30" ng-model="date" md-placeholder="Date of Birth"></md-datepicker>
            <md-datepicker flex="30" ng-model="arrival" md-placeholder="Date"></md-datepicker>
            <md-datepicker flex="30" ng-model="Time" md-placeholder="Time"></md-datepicker>
          </div>

          <md-input-container flex="20" layout="row" >
              <input flex="20" type="text" ng-model="data.personalDetail[3].value" required placeholder="Contact"></input>
          </md-input-container>

           <md-input-container flex="20" layout="row">
            <input type="text" ng-model="data.personalDetail[4].value" required placeholder="Address"></input>
         </md-input-container>

         <div flex="20" layout="row" layout-align="space between center">
            <md-select flex="30" ng-model="data.personalDetail[5].value" required placeholder="City"></md-select>
            <md-select flex="30" ng-model="data.personalDetail[6].value" required placeholder="State"></md-select>
            <md-select flex="30" ng-model="data.personalDetail[7].value" required placeholder="Country"></md-select>
         </div>

         <md-button flex="auto" class="md-primary md-raised" ng-click="next_button()">Done</md-button>
</ng-form >

            
<div layout="column" layout-margin ng-if="done" >
    <div layout="column" ng-repeat="data in data.personalDetail">
          <span class="md-body">{{data.fields}}</span>
          <span class="md-caption" md-colors="{color:'blue-grey-500'}">{{data.value}}</span>
    </div>
    <md-button class="md-raised" md-colors="{background:'green-A400'}" ng-click="" ng-if="done">Finish</md-button>
</div>
          
         
</ng-form >         
